body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: wheat;
}

#h1 {
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
}

#display {
  font-size: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: rgba(12, 4, 4, 0.479);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.331);
  margin-bottom: 25px;
}

#controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

#startBtn {
  background-color: greenyellow;
}

#startBtn:hover {
  background-color: rgb(105, 167, 13);
}

#stopBtn {
  background-color: red;
}

#stopBtn:hover {
  background-color: rgb(113, 6, 6);
}

#resetBtn {
  background-color: goldenrod;
}

#resetBtn:hover {
  background-color: rgb(137, 103, 18);
}
